body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
  }
  
  form {
    margin-top: 20px;
  }
  
  input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #feedback {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
  }


.floating-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.floating-menu img {
  width: 100px;
}

.content {
  margin: 80px 20px 20px 20px;
}

h1 {
  color: #0e0d0d;
}

p {
  color: #f8f3f3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  
    bottom: 0;
    width: 100%;
  }